<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Super Admin and Company Information</title>
</head>
<body>
<h3>拝啓,</h3>

<h3>{{companyName}} の皆様、平素は弊社サービスをご利用いただき誠にありがとうございます。
</br> 以下は管理者アカウント情報です</h3>

<ul>
  <li><strong>会社コード:</strong> {{taxNumber}}</li>
  <li><strong>Eメール:</strong> {{emailSuperAdmin}}</li>
  <li><strong>パスワード:</strong> {{passwordAdmin}}</li>
  <li><strong>ユーザー名:</strong> {{usernameSuperAdmin}}</li>
  <h3>システムログインURL:<a href="{{baseUrl}}">ここをクリック</a></h3>
</ul>

<h3>詳細をご覧になるには、提供された情報を使用してシステムにログインしてください。</h3>
<h3>なお、お客様の情報やパスワードは第三者と共有しないでください。 初回ログイン後はパスワードを変更してください。</h3>
<h3>ご協力ありがとうございました。</h3>
<h3>お問い合わせ: {{numberPhoneService}}</h3>
<h3>よろしくお願いします。</h3>

<h3 style="font-weight: bold;">これは自動返信メールです。返信しないでください</h3>
</body>
</html>
