<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    h3 {font-style: normal;font-weight: normal}
  </style>
</head>
<body>
<h3>拝啓,</h3>


<h3>アカウントは以下の情報で作成されました:</h3>

<ul>
  <li><strong>会社コード:</strong> {{taxNumber}}</li>
  <li><strong>Eメール:</strong> {{email}}</li>
  <li><strong>パスワード:</strong> {{password}}</li>
  <li><strong>ユーザー名:</strong> {{username}}</li>
  <h3>ログインURL: <a href="{{baseUrl}}">ここをクリック</a></h3>
</ul>

<h3>詳細をご覧になるには、システムにログインしてください。</h3>
<h3>なお、お客様の情報やパスワードは第三者と共有しないでください。
  初回ログイン後はパスワードを変更してください。</h3>
<h3>ご協力ありがとうございました。</h3>
<h3>お問い合わせ: {{numberPhoneService}}</h3>
<h3>よろしくお願いします。</h3>

<h3 style="font-weight: bold;">これは自動返信メールです。返信しないでください</h3>
</body>
</html>
